	<h4>Your Cart</h4>

		<table id="cart" class="table-cart table table-striped table-hover">
			<tbody>
				<% for item in @cart.line_items %>
					<tr>
						<td class="col-md-2"><%= image_tag item.product.image_url %></td>
						<td>
							<h5><%= item.product.title %></h5>
							<p><%= strip_tags item.product.description %></p>
						</td>
						<td class="col-md-1 vcenter">&times;<%= item.quantity %></td>
						<td class="item_price col-md-1 vcenter"><%= number_to_currency(item.total_price, :locale => 'es') %></td>
						<td class="vcenter">
							<%= link_to '', item, :method => :delete, :class => 'btn btn-danger fa fa-trash-o', :confirm => 'Are you sure?' %>
						</td>
					</tr>
				<% end %>
			</tbody>
			<tfoot>
				<tr class="total_line">
					<td colspan="3">Total</td>
					<td class="total_cell"><%= number_to_currency(@cart.total_price, :locale => 'es') %></td>
					<td></td>
				</tr>
			</tfoot>
		</table>

		<div class="col-md-2">
			<%= button_to 'Empty cart', @cart, :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
		</div>
			<%= link_to 'Chekout', store_url, :class => 'btn btn-primary pull-right', :notice => 'Aquí hubiéramos ido a la página de compra' %>
