<%- model_class = Product -%>
<!-- el carousel no va muy bien... 
    <div class="row carousel-holder">

        <div class="col-md-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img class="slide-image" src="http://placehold.it/800x300" alt="">
                    </div>
                    <div class="item">
                        <img class="slide-image" src="http://placehold.it/800x300" alt="">
                    </div>
                    <div class="item">
                        <img class="slide-image" src="http://placehold.it/800x300" alt="">
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="fa fa-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="fa fa-chevron-right"></span>
                </a>
            </div>
        </div>

    </div>
-->
    <% content_for :visitas do %>
        <div class="pull-right visitas">
            <% if session[:counter] > 5 %>
                <p>Nos has visitado <%= pluralize(session[:counter], 'vez', 'veces') %></p>
            <% end %>
        </div>
    <% end %>
	<div class="row">
	<% @products.each do |product| %>
  
        <div class="col-sm-4 col-lg-4 col-md-4 entry">
            <div class="thumbnail">
                
                <%= link_to image_tag(product.image_url, :class => 'list_image'), line_items_path(:product_id => product), :method => :post %>

                <div class="caption">
                    <h4 class="pull-right price"><%= number_to_currency(product.price, :locale => 'es') %></h4>
                    <h4><%= link_to product.title, product_path(product) %></h4>
                    <p><%= truncate(strip_tags(product.description), :length => 200) %></p>
                </div>
                <div class="ratings">
                    <p class="pull-right">15 reviews</p>
                    <p>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </p>
                </div>
                <div class="boton-carrito">
                    <%= button_to 'Añadir al carro', line_items_path(:product_id => product), :class => 'btn btn-primary' %>
                </div>
            </div>
        </div>

	<% end %>
	</div><!-- row -->